{% extends "./base.html" %}

{% block content %}
<div class="container-fluid bg-white text-dark rounded-3 shadow-sm p-4 mb-5">
    <h2 class="text-center mb-4">Problem Distribution Dashboard for
        {% if request.session.role == 'Manager' %}
        Manager
        {% elif request.session.role == 'Hint_Writter' %}
        Hint Writer
        {% elif request.session.role == 'Hint_Reviewer' %}
        Reviewer
        {% endif %}
    </h2>

    <ul class="nav nav-tabs" id="myTab" role="tablist">
        {% if request.session.role == 'Manager' %}
        <li class="nav-item" role="presentation">
            <a class="nav-link text-dark active" id="reviewed-tab" data-toggle="tab" href="#reviewed" role="tab">Reviewed Questions</a>
        </li>
        {% endif %}
        {% if request.session.role == 'Manager' or request.session.role == 'Hint_Writter'  %}
        <li class="nav-item text-dark" role="presentation">
            <a class="nav-link text-dark {% if request.session.role != 'Manager'  %}active{% endif %}" id="hint-writer-tab" data-toggle="tab" href="#hint-writer" role="tab">Hint Writer Tasks</a>
        </li>
        {% endif %}
        {% if request.session.role == 'Manager' or request.session.role == 'Hint_Reviewer' %}
        <li class="nav-item" role="presentation">
            <a class="nav-link text-dark" id="reviewer-tab" data-toggle="tab" href="#reviewer" role="tab">Reviewer Tasks</a>
        </li>
        {% endif %}
    </ul>

    <div class="tab-content mt-3" id="myTabContent">
        {% if request.session.role == 'Manager' %}
        <div class="tab-pane fade show active" id="reviewed" role="tabpanel">
            <h4 class="text-success mb-3">Reviewed Questions</h4>
            {% include "problem_table.html" with problems=problemsR role="Manager" %}
        </div>
        {% endif %}

        <div class="tab-pane fade {% if request.session.role == 'Manager' or request.session.role == 'Hint_Writter' %}show active{% endif %}" id="hint-writer" role="tabpanel">
            <h4 class="text-warning mb-3">Pending Questions at Hint Writer</h4>
            {% include "problem_table.html" with problems=problemsPH role="Hint_Writter" %}
        </div>

        <div class="tab-pane fade {% if request.session.role == 'Manager' or request.session.role == 'Hint_Reviewer' %}show active{% endif %}" id="reviewer" role="tabpanel">
            <h4 class="text-info mb-3">Pending Questions at Reviewer</h4>
            {% include "problem_table.html" with problems=problemsPR role="Hint_Reviewer" %}
        </div>
    </div>
</div>

<script>
    $(document).ready(function() {
        $('#myTab a').on('click', function (e) {
            e.preventDefault();
            $(this).tab('show');
        });
    });
</script>
{% endblock %}
